@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

body {
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.container {
    width: 50vw;
    max-width: 700px;
    margin: 0 30px;
    margin-top: 100px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    user-select: none;
}

.new-todo {
    background-color: #f1f1f1;
    margin-top: 50px;
    border-radius: 25px;
}

.button-add {
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.button-add img {
    width: 55px;
    user-select: none;
}

.new-todo-input {
    flex-grow: 1;
}

.new-todo-input form {
    flex-grow: 1;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.new-todo-input input {
    padding: 1rem 0 1rem 1.2rem;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.2rem;
    width: 100%;
}

.container-option {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.option-main {
    color: #202020;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #ffffff;
    text-align: center;
    outline: none;
    width: 25vw;
    height: 5vh;
    border-radius: 15px;
    -webkit-appearance: none;
    background-position-x: 220px;
}

.select span {
    margin-left: 10px;
}

.todo-item {
    margin-top: 2px;
    width: 100%;
    display: flex;
    height: 70px;
    background-color: #f1f1f1;
    color: #000000;
    font-size: 18px;
    border-radius: 30px;
    
    transition: .4s;
}

.todo-item.dark {
    background-color: #252525;
}

.todo-items-wrapper {
    margin-top: 30px;
}

.todo-text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.todo-item.dark {
    color: #fff;
}

.check {
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-mark {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid #00000093;
    cursor: pointer;
    transition: .2s;
}

.check-mark.dark{
    background-color: #ffffff93;
}

.check-mark:hover {
    background-color: #444444;
    border: 2px solid #6dff9e;
    background-image: url(./images/icon-check.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.25rem;
}

.delete-button {
    border-radius: 0 25px 25px 0;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .1s ease-in-out;
}

.delete-button:hover {
    background-color: #da5d5d;
}

.delete-button img {
    width: 30px;
    pointer-events: none;
    user-select: none;
}

.completed {
    text-decoration: line-through;
    opacity: .5;
}

.completed-check {
    background-color: #313436;
    border: 2px solid #4cfd87;
    background-image: url(./images/icon-check.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.25rem;
}

.delete {
    display: none;
}

.setting{
    position: absolute;
    top: 15px;
    right: 20px;
}

.setting img {
    width: 35px;
    user-select: none;
}

.active-setting{
    animation: loading 1s;
}

.active-setting-out {
    animation: loading-out 1s;
}

@keyframes loading {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes loading-out {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(-360deg);
	}
}

.menu-setting {
    position: absolute;
    top: 55px;
    right: 0;
    background-color: #3a3a3a;
    width: 19vw;
    max-width: 220px;
    height: 10vh;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    animation: menu-setting-out 1s forwards;
    
}

.menu-setting.active {
    transition: all 1.5s ease;
    right: 0;
    display: block;
    animation: menu-setting 1s forwards;
}

@keyframes menu-setting {
    0% {
        transform: translateX(300px);
    }
	100% {
		transform: translateX(0px);
	}
}

@keyframes menu-setting-out {
    0% {
        transform: translateX(0);
    }
	100% {
		transform: translateX(300px);
	}
}

.checkbox-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1rem;
    
} 

body.dark {
    background-color: #18191d;
}

.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
	position: relative;
	height: 22px;
	width: 46px;
	transform: scale(1.5);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 18px;
	width: 18px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox-container span {
    padding: 30px;
    color: #e9e9e9;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}

.fa-moon {
	color: #f1c40f;
}

#fa-sun {
	color: #f39c12;
}