@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    background-color: #1a1212;
    color: #fff;
    font-family: sans-serif;
    min-height: 100vh;
}

header {
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
    letter-spacing: 5px;
    background-image: linear-gradient(to top, #fa3200 0%,#ffc355 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-transform: uppercase;
}

header, form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input {
    border-radius: 5px 0 0 5px;
    width: 25vw;
    padding: 0 1rem;
}

form button {
    text-align: center;
    padding: 0 1rem;
}

form input, form button{
    font-size: 1rem;
    border: none;
    background: #fff;
    outline: none;
    font-weight: bold;
    
    height: 5vh;
}

option {
    font-weight: bold;
}

#option_main {
    height: 5vh;
    padding: .2rem;
    font-size: 1rem;
    margin-left: 3px;
    border: none;
    background: #fff;
    outline: none;
    font-weight: bold;
}

form button {
    color: #000000;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background-color: #000;
    color: #fff;
}

.todo {
    display: flex;
    justify-content: center;
    margin: 10px;
    color: #000;
}

.todo_item {
    background-color: #fff;
    width: 35vw;
    padding: 10px;
    text-align: center;
    list-style: none;
    border-radius: 4px 0 0 4px;
}

.completed{
    opacity: 0.4;
    text-decoration: line-through;
}

.complete_btn, .delete_btn {
    padding: 0 15px 0 15px;
    border: none;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s;
    background-color: #ffb657;
}

.complete_btn img , .delete_btn img {
    width: 1.2rem;
}

.delete_btn img {
    width: 1.3rem;
    margin-top: 5px;
}

.complete_btn:hover {
    background-color: #2de72d;
    color: #fff;
}

.delete_btn:hover {
    background-color: #e72d2d;
    color: #fff;
}

.delete-todo {
    display: none;
}